
table{
  margin:20px auto;
  height: 50vh;
  width: 80%;
  border-collapse: collapse;
  empty-cells: show;
  font-weight: bold;
  

}
th, td{
  border: 3px solid gray;
  height: 50px;
  text-align: center;
  font-size: 20px;
}


th{
    letter-spacing: 5px;
}

.breakfast{
    color: rgb(240, 42, 129);
    
}

.lunch{
    color: rgb(148,65,180);
}

.dinner{
    color:rgb(44,64,211);
}

.snack{
    color: rgb(42,88,19)
}
.calorie{
    background-color: rgba(235,27,60, 0.6)
}

.calorie:hover{
    background-color: rgba(235,27,60, 0.3);
}

.fat{
   background-color: rgba(235,110,27, 0.6)
}

.fat:hover{
    background-color: rgba(235,110,27, 0.3)
}

.carbs{
    background-color: rgba(61,131,48, 0.6)
}

.carbs:hover{
    background-color: rgba(61,131,48, 0.3)
}

.protein{
    background-color:rgba(26,51,180, 0.6)
}
.protein:hover{
    background-color:rgba(26,51,180, 0.3)
}

.sugar{
    background-color:rgba(214,96,209, 0.6)
}

.sugar:hover{
    background-color:rgba(214,96,209, 0.3)
}

.deleteIntake{
    width: 1px;
}

.daily-intake{
    padding-top: 25px;
    margin: 0;
    height: 150vh;
    background: rgb(195,169,34);
    background: linear-gradient(95deg, rgba(195,169,34, 0.5) 0%, rgba(45,213,253,0.5) 100%);

}

.edit-intake{
    display: flex;
    margin: 5px auto;
    width: 50px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
}

.select-day{
    font-size: 20px;
}

.date, .select-day{
    
    margin: 10px auto;
    display: flex;
    width: 10%;
}

.date:focus{
    outline: 0;
}

.today{
    height: 30px;
    width:350px;
    border-radius: 15px;
    padding-left: 100px;
    font-family: 'Baloo Bhai', cursive;
}

.select-day{
margin-left:47%;
margin-right: 45%; 
font-family: 'Baloo Bhai', cursive;

}

.exeeded {
    background-color: rgba(255, 0, 2, 0.9);
    color: white;
}