
.main-image{
    width:15%;
    border-radius: 0 50% 0 50%;
    position: relative;
    top: 20vh;
    left: 50vw;
    box-shadow: 10px 15px 6px #aaaaaa;
 
    
}

.main-image:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

