
.main-image{
    width:15%;
    border-radius: 0 50% 0 50%;
    position: relative;
    top: 200px;
    right: 50px;
    margin-left: 20vh;
    box-shadow: 10px 15px 6px #aaaaaa;
 
    
}

.daily-summary{
width: auto;
display: flex;
flex-wrap: wrap;
height: auto;
}

q{
    position: relative;
    top: 400px;
    left: 100px;
    font-family: 'Handlee', cursive;
    font-size: 28px;
    font-weight: bold;
    box-sizing:border-box;
    color: rgb(15, 82, 42);
    font-style: italic;
}

.main-image:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

 @media screen and (max-width: 1000px){
    q{   
        position: relative;
        top: 405px;
        left: 10px;
        width: auto;
        font-size: 20px;
      }
   
      .daily-summary{
          height: 100vh;
      }
}


@media screen and (max-width:500px){
    q{
      
      top:25vh;
      left: 10;
      width: auto;
      font-size: 12px;
    }

  } 




 
