.edit-profile{
    margin: 10px auto;
    width: 40em;
    height: 50vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
   box-sizing: border-box;
   text-align: center;
   overflow: auto;
   font-family: 'Archivo', sans-serif;
   -webkit-box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
-moz-box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
background-color:white;
}


.edit-profile-div{
    position: relative;
    top: 0;
    padding-top: 5%;
    background: rgb(195,169,34);
    background: linear-gradient(95deg, rgba(195,169,34, 0.5) 0%, rgba(45,213,253,0.6) 100%);
    height: 150vh;
}
.inputs{
    padding:0;
}

#goalCarbs, #goalFat, #goalSugar, #goalProtein{
    width: 15rem;
    height: 2rem;
    margin-bottom: 2rem;
}

.close{
    width: 45px;
    position: relative;
    margin: 10px;
    left: 90%;
}


@media only screen and (max-width: 414px){


    .edit-profile-div{
        height: auto;
        padding-bottom: 25px;
    }
    .edit-profile{
        height: auto;
        width: 90%;
    }
     .edit, .delete-profile{
         width: 25%;
     }
}

@media only screen and (min-width: 700px){
   .edit-profile{
       height: auto;
       padding:0;
   }

    .edit, .delete-profile{
        width: 25%;
    }
}