#home {
    
    background-image: url('../images/nutritions-4.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    box-sizing:border-box;
    margin-top: 0;
    
  }

#greeting{
   justify-content: right;
   padding-top: 13%;
   padding-left: 45%; 
   font-family: 'Courgette', cursive;
   overflow-x: hidden;
   font-size: 40px;
   color: rgb(109,209,150);
   letter-spacing: 5px;
   text-shadow: 2px 2px 4px #000000;
   margin: 0;
}  

.login-message{
  justify-content: right;
   padding-left: 55%; 
   padding-top: 1%;
   letter-spacing: 5px;
  

}

.login-message a {
    text-decoration: none;
    padding-left: 15px;
    letter-spacing: 5px;
    cursor: grabbing;

}