#home {
    background-image: url('../images/nutritions-4.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    box-sizing:border-box;
    margin-top: 0;
}

#greeting{
   justify-content: right;
   padding-top: 0;
   padding-left: 45%; 
   font-family: 'Courgette', cursive;
   overflow-x: hidden;
   font-size: 40px;
   color: rgb(109,209,150);
   letter-spacing: 5px;
   text-shadow: 2px 2px 4px #000000;
   margin: 0;
}  

.login-message{
  justify-content: right;
  padding-left: 55%; 
  padding-top: 1%;
  letter-spacing: 5px;
}

.login-message a {
  text-decoration: none;
  padding-left: 15px;
  letter-spacing: 5px;
  cursor: grabbing;
}

@media screen and (min-width:500px){
  #home{
    height:100vh;
    background-repeat: repeat;
  }

  #greeting{
    position: relative;
    top: 200px;
    left: 10px;
    width: auto;
    font-size: 20px;
  }

  .login-message{
    position: relative;
    top: 210px;
    left: 10px;
    width: auto;
    font-size: 15px;
  }
}

@media screen and (min-width: 300px){
  #home{
    height:50vh;
    background-repeat: repeat; 
  }
}

@media screen and (min-width:500px){
  #home{
    height:150vh;
    background-repeat: repeat; 
  }

  #greeting{
    position: relative;
    top: 350px;
    left: 10px;
    width: auto;
    font-size: 25px;
  }

  .login-message{
    position: relative;
    top: 350px;
    left: 10px;
    width: auto;
    font-size: 20px;
  }
}

