.profile-image{
    width: 50%;
    border-radius: 0 50% 0 50%;
    box-shadow: 10px 15px 6px #aaaaaa;
}

.profile-div{
   height: 100vh;
   display: flex;
   box-sizing:border-box;
   background: rgb(195,169,34);
background: linear-gradient(95deg, rgba(195,169,34, 0.6) 0%, rgba(45,213,253,0.8) 100%);
}




.img-div{
    padding-top: 125px;
    padding-left: 10%;
    width: 35%;
}

.info-div{
    box-sizing:border-box;
    padding: 65px;
    margin-top: 8em;
    border-radius: 15%;
    line-height: 2em;
    width: 30%;
    height: 50vh;
    box-shadow: 10px 15px 6px #aaaaaa;
    font-size: 17px;
    /* border: 2px solid gray; */
    background-color:white;
}

.info-div ul li{
    border-bottom: 1px solid gray;
}

.info-div a{
    text-decoration: none;
}

.bold{
    font-family: 'Baloo Bhai', cursive;
}


.info-div li {
    font-family: 'Archivo', sans-serif;
}

.edit, .delete-profile{
    border: 1px solid rgb(168,180,173);
    display: inline-block;
    width: 40%;
    text-align: center;
    border-radius: 15px;
    margin:40px auto;
    cursor: grabbing;
   margin-right: 45px;
   color:black;
   font-family: 'Baloo Bhai', cursive;
}


.edit:hover, .delete-profile:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        z-index: 1;
        font-family: 'Baloo Bhai', cursive;
        background: rgb(195,169,34);
        background: linear-gradient(95deg, rgba(195,169,34, 0.6) 0%, rgba(45,213,253,0.8) 100%);
}