.profile-image{
    width: 50%;
   
    border-radius: 0 50% 0 50%;
    box-shadow: 10px 15px 6px #aaaaaa;
}

.profile-image:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.profile-div{
   height: 100vh;
   display: flex;
   box-sizing:border-box;
   background: rgb(195,169,34);
background: linear-gradient(95deg, rgba(195,169,34, 0.6) 0%, rgba(45,213,253,0.8) 100%);
}

.info-div:hover{
    box-shadow:
                5px 5px #53a7ea,
                5px 5px #53a7ea,
                5px 5px #53a7ea;
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
}


.img-div{
    margin-top: 200px;
    margin-left: 100px;
    width: 45%;
}

.info-div{
    box-sizing:border-box;
    padding-left: 0;
    padding: 65px;
    margin-top: 8em;
    margin-right: 150px;
    line-height: 2em;
    width: 50%;
    height: 70vh;
    box-shadow: 10px 15px 6px #aaaaaa;
    font-size: 17px;
    /* border: 2px solid gray; */
    background-color:white;
    overflow: auto;
}

.info-div ul li{
    border-bottom: 1px solid gray;
}

.info-div a{
    text-decoration: none;
}

.bold{
    font-family: 'Baloo Bhai', cursive;
}


.info-div li {
    font-family: 'Archivo', sans-serif;
}

.edit, .delete-profile{
    border: 1px solid rgb(168,180,173);
    display: inline-block;
    width: 40%;
    text-align: center;
    border-radius: 15px;
    margin:40px auto;
    cursor: grabbing;
   margin-right: 45px;
   color:black;
   font-family: 'Baloo Bhai', cursive;
}


.edit:hover, .delete-profile:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        z-index: 1;
        font-family: 'Baloo Bhai', cursive;
        background: rgb(195,169,34);
        background: linear-gradient(95deg, rgba(195,169,34, 0.6) 0%, rgba(45,213,253,0.8) 100%);
}

@media only screen and (max-width: 414px){

     .profile-div{
         height: auto;
         display: flex;
         flex-wrap: wrap;
     }
     .img-div{
         /* display: block; */
         width: 100%;
         padding-left:0;
     }
     
     .profile-image{
         margin: 0 auto 25px;
     }
    
      .info-div{
        /* display: block; */
        width: 100%;
        margin:0;
        padding: 5px;
      }

      .edit, .delete-profile{
          width: 25%;
      }
}

@media only screen and (max-width: 1024px){
    .profile-div{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding:0;
    }

    .img-div{
        /* display: block; */
        margin-top: 20px;
    }
    
    .profile-image{
  
        width: 70%;
        padding-top: 10px;
    }
   
     .info-div{
       /* display: block; */
       width: 80%;
       margin:30px auto;
       padding: 5px;
       height: auto;
     }

     .edit, .delete-profile{
         width: 25%;
     }
}