.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 80%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



.profile-image{
  width:25%;

} 

li {
  list-style: none;
}

table{
  margin:20px auto;
  height: 50vh;
  width: 90%;
}
table, th, td, tr{
  border: 1px solid black;
  height: 50px;
}


