
table{
  margin:20px auto;
  height: 50vh;
  width: 90%;
  border-collapse: collapse;
  empty-cells: show;
  

}
th, td{
  border: 1px solid black;
  height: 50px;
  text-align: center;
 
}


th{
    letter-spacing: 5px;
}

.calorie{
    background-color: rgba(235,27,60, 0.6)
}

.fat{
   background-color: rgba(235,110,27, 0.6)
}

.carbs{
    background-color: rgba(61,131,48, 0.6)
}

.protein{
    background-color:rgba(26,51,180, 0.6)
}

.sugar{
    background-color:rgba(214,96,209, 0.5)
}

.delete{
    width: 1%;
}

.edit{
    display: flex;
    margin: 5px auto;
    width: 50px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
}


.date, .select-day{
    margin: 20px auto;
    display: flex;
    width: 10%;
}

.date:focus{
    outline: 0;
}

.today{
    height: 30px;
    width:350px;
    border-radius: 15px;
    padding-left: 100px;
    font-family: 'Baloo Bhai', cursive;
}

.select-day{
margin-left:47%;
margin-right: 45%; 
font-family: 'Baloo Bhai', cursive;

}