
table{
  margin:20px auto;
  height: 50vh;
  width: 90%;
  border-collapse: collapse;
  empty-cells: show;

}
table, th, td, tr{
  border: 1px solid black;
  height: 50px;
 
}

.delete{
    width: 1em;
    border: none;
}

