#nav-bar{
    background-color: rgb(44,134,81);
    height: 8vh;
    font-family: 'Cinzel', serif;
    
}

.link{
    box-sizing: border-box;
    color: white;
    flex-grow: 1 1 1;
    display: inline-block;
    width: 20%;
    padding: 2% 6%;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#logout{
    display: inline-block;
    width: 60%;
    height: 30px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
}
